* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.fas {
  line-height: 1.4;
  margin: 0 10px;
}

body {
  background-color: rgb(240, 234, 221);
}

.main-page {
  background-image: url(../img/sebastian-pichler-bAQH53VquTc-unsplash.jpg);
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page::after {
  background-color: rgba(0, 0, 0, .6);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.header,
.header-nav {
  /* position: relative; */
  padding: 5px;
  z-index: 5;
}

.header {
  border-color: rgb(109 62 8 / 72%);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.row.header-contact {
  display: flex;
  justify-content: center;
  color: white;
}

.col-md-6.col-sm-12.contact-mail {
  justify-content: center;
  text-align: center;
  padding: 3px;
}

.col-md-6.col-sm-12.contact-mail a {
  color: #a97416;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 3px 10px;
  margin: 0px 5px;
}

.collapse.navbar-collapse ul {
  margin: 5px;
}

.col-md-6.col-sm-12.contact-mail a:hover,
li.nav-item a:hover {
  color: #cc983f;
}

li.nav-item {
  padding: 2px 7px;
  text-transform: capitalize;

  font-size: 1.1rem;
  font-weight: 400;
  color: white;
}

li.nav-item a:hover {

  width: 100%;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  color: #cc983f !important;
}

.main-text {
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 15px;
  position: relative;
}

.home::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.home .home-text {
  text-align: center;
  position: relative;
  z-index: 2;
}

.home .home-text h2 {
  color: #ffffff;
  font-size: 3.5vw;
  color: #ffffff;
  line-height: 56px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: capitalize;

}

.home .home-text p {
  margin: 0;
  overflow: hidden;
  text-transform: capitalize;

}

.home .home-text p span {
  font-size: 2.5vw;
  color: #a97416;
  font-weight: 700;
  display: inline-block;
  line-height: 46px;
  display: none;
}

.home .home-text p span.text-in {
  display: block;
  animation: textIn .5s ease;
}

.home .home-text p span.text-out {
  animation: textOut .5s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);

  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.about {
  margin: 20px 0;
  padding: 0;
  position: relative;
}

.about .about-img {
  background-image: url(../img/pexels-sora-shimazaki-5669602.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#myvideo {
  right: 0;
  padding: 0;
  display: block;
}

.about-des {
  position: absolute;
  padding: 4rem;
}

.about-des h2,
.contact {
  text-transform: capitalize;
  font-weight: bold;
  color: #a97416;
}

.about-des p {
  margin-top: 50px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 5px 7px;
  background-color: rgba(169, 116, 22, 0.6);
}

.service-content {
  position: relative;
}

.service-content img {
  max-width: 100%;
  height: auto;
  transition: .5s ease;
  margin: 10px 5px;
}

.service-content:hover img {
  opacity: 0.2;
  transform: scale(.9);
  transition: all .5s;
  /* animation: shake 0.5s;
  animation-iteration-count: infinite; */
}

/* @keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
} */

.service-des {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.service-des p {
  color: #a97416;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 500;
}

.service-content:hover .service-des {
  opacity: 1;
}

.team:hover {
  transform: scale(1.2);
  transition: all .5s;

  /* transform: skew( 5deg); */
}

.profile {
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #cc983f;
}

.profile h3 {
  text-transform: capitalize;
  color: #a97416;
  font-weight: 500;
}

/* contact style */
.contact-title {
  display: flex;
  margin: 20px 0 2px;
  text-align: center;
}

.contact-btn {
  width: 100%;
  background-color: #a97416;
  margin-top: 10px;
  color: white;
  font-weight: 500;
}

.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* contact style */




/* footer style */
footer {
  margin-top: 20px;
  background-color: #533605 !important;
  /* height: 30vh; */
}

.footer-link {
  text-transform: capitalize;
  text-decoration: none;
  display: flex;

}

footer .container a:hover {
  filter: brightness(.8);
}

.copyright a {
  text-decoration: none;
  color: #cc983f;
  font-size: 1.2rem;
}

.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #a97416;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #cc983f;
  color: #fff;
}