@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;600;800&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
}

.home .home-text h2 {
    font-size: 3vw;
    margin: 0 0 20px;
    text-transform: capitalize;
    padding: 10px;
}

.home .home-text p span {
    padding: 10px 0px;
}
.contact,
h2,
p,
img,
blockquote {
    overflow: hidden;
  }